docs/Frivillighet.wsdl

<?xml version="1.0" encoding="UTF-8"?><WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://no/brreg/saksys/grunndata/ws" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" name="FrivillighetServiceDefinitions" targetNamespace="http://no/brreg/saksys/grunndata/ws" xmlns="">
    <WL5G3N0:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://no/brreg/saksys/grunndata/ws">
            <xs:element name="hentFrivillighet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="userid" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="orgnr" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hentFrivillighetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="hentFrivillighet">
        <WL5G3N0:part element="WL5G3N1:hentFrivillighet" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="hentFrivillighetResponse">
        <WL5G3N0:part element="WL5G3N1:hentFrivillighetResponse" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="Frivillighet">
        <WL5G3N0:operation name="hentFrivillighet" parameterOrder="parameters">
            <WL5G3N0:input message="WL5G3N1:hentFrivillighet"/>
            <WL5G3N0:output message="WL5G3N1:hentFrivillighetResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="FrivillighetServiceSoapBinding" type="WL5G3N1:Frivillighet">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="hentFrivillighet">
            <WL5G3N2:operation style="document"/>
            <WL5G3N0:input>
                <WL5G3N2:body parts="parameters" use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body parts="parameters" use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="FrivillighetService">
        <WL5G3N0:port binding="WL5G3N1:FrivillighetServiceSoapBinding" name="FrivillighetSoapPort">
            <WL5G3N2:address location="https://grunndata.brreg.no:443/grunndata/Frivillighet"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>